
{% extends 'main/base.html'%}

{% block content %}

    <h1>TPL Blogs</h1>
    <h2>Here's {{ blogs.count }} blog{{ blogs.count|pluralize }}</h2>
    {% for blog in blogs %}
    <h2>{{ blog.title }}</h2>
    <p>{{ blog.description|truncatechars:100 }}</p>
    <h5>{{ blog.date|date:'d M Y' }}</h5>
    {{ blog.image }}
    <a href="{% url 'blog:detail' blog.id %}"<h1><img src="{{ blog.image.url }}"></h1></a>
    {% if blog.url %}
    <a href="{{ blog.url }}">google</a>
    {% endif %}


    {% endfor %}

{% endblock %}
