
{% extends 'main/base.html '%}

{% block content %}

    <b><h1>CiGaW</h1>
    <h2>About CiGaW</h2>
    <br><iframe width="560" height="315" src="https://www.youtube.com/embed/mSpo2rHVYE4"
    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br><iframe width="560" height="315" src="https://www.youtube.com/embed/8vhXEuRbBII"
    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p>CiGaW is about what matters to you most</p>

{% endblock %}
