
{% extends 'main/base.html'%}

{% block content %}

    <b><h1>The Promised LAN</h1>
    <h2>About TPL</h2>
    <br><iframe width="560" height="315" src="https://www.youtube.com/embed/mSpo2rHVYE4"
    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br><iframe width="560" height="315" src="https://www.youtube.com/embed/8vhXEuRbBII"
    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p>TPL _ Delivering your network</p>

{% endblock %}
